@media screen and (min-width: 961px) {
  
  .home-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .proximity {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .whitespace {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .repetition {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  
}