@media screen and (min-width: 501px) and (max-width: 960px){
  body {
    background-color: #f7f5f1;
    font-family: 'Nunito', sans-serif;
  }

  #content { 
    max-width: 960px;
    margin: 0 auto;
    padding: 1.1em;
  }

  header {
    text-align: center;
    font-weight: bold;    
    background-color: #3578a8;
    color: #ffffff;
    height: 80px;
    border-radius: 8px;
    padding: 1px;
  }

  h2 {
    text-decoration: underline;
    text-decoration-style: double;
    padding: 12px;
    color: #020024;
  }

  h3 {
    background-color: #6faedb;
  }
  .company2 {
    margin-top: 20px;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
  }

  .proximity {
    text-align: center;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .whitespace {
    text-align: center;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .repetition {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 6px;
  }

  p {
    margin: 10px;
    text-align: left;
  }

  .home-grid img {
    grid-row: 2/3;
    margin-right: 10px;
    width:100%;
    height:auto;
  }

  .footer {
    background-color: #3578a8;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    padding: 11px;
  }

  .time {
    display: inline;
  }
  .footer_p{
    text-align: center;
  }
}