@media screen and (min-width: 64em) {

    header img {
        width: 120px;
      }
    
    .headings h1 {
        font-size: 4rem;
    }
    
    .m {
        letter-spacing: 2pt;
        font-size: 1rem;
    }



    .weatherSum {
      top: 120px;
    }

    .article img {
      height: 280px;
      width: 380px;
  }

  }