body {
    font-family: 'Noto Serif', serif;
}

h1 {
    text-align: center;
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    border: 1px solid #333;
    padding: 2px;
    filter: blur(0em);
    transition: filter 0.5s;
    display: block;
    max-width: 300px;
    margin: auto;
}

