@media screen and (min-width: 33em) {


    .headings h1 {
        font-size: 2.5rem;
    }

    nav button{
        display: none;
    }  
    nav ul.hide {
        display: flex;
        align-content: center;
        justify-content: center;
    } 
    /*---------------nav bars---------------*/
    .nav {
        display: flex;
    }
    .nav li {
        display: block;
        flex: 1 1 100%;
    }
    .nav li a {
        color: #ffffff;
    }
    .content {
        margin: 0 auto;
    }


    .welcome {
        margin: auto 50px;
    }
    .event_weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*--------------footer--------------*/
    footer {
        margin: 0 auto;

    }
    .weatherSum {
        top: 60px;
    }
    /*-----------------JOIN---------------*/
    .text_box {
        padding: 30px;
    }
    .event_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
    .event_box img {
        margin: auto;
        max-width: 100%;
    }
    .event_box figcaption {
        margin: auto;
    }
    /*--------------contact info--------------*/
    
    .map {
        display: block;
        float: left;
        height: 230px;
        width: 230px;
        padding: 13px;
        margin-left: 25px   
    }
    
    /*-----------------application-----------------*/
    form {
        width: 70%;
    }
    /*-----------------business-----------------*/
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*-----------------events------------------*/
    #event_schedule {
        max-width: 500px;
    }
    /*-----------------grid and list-----------------*/
    .btn {
        display: inline-block;
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
    }
      
    .btn:hover {
    background-color: #ddd;
    }
    
    .btn.active {
    background-color: #666;
    color: white;
    }
  }